* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial sans-serif;
}

body {
    max-width: 1470px;
    min-width: 320px;
    border: 5px solid black;
    margin: 7px auto;
    padding-top: 10px;
}

/*header-start*/
header {
    max-width: 1440px;
    margin: 0 auto;
}

.header__logo {
    width: 300px;
    height: 90px;
    border: 4px solid brown;
    margin: 0 auto;
}

.header__logo--elem {
    text-align: center;
    font-size: 40px;
    padding: 10px;
    color: #ff9900;
    letter-spacing: 1px;
}

/* Использовать nav */
.header__menu {
    max-width: 1430px;
    border: 6px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    list-style: none;
}

.header__menu--elem {
    font-size: 19px;
}

.header__menu-elem-a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    letter-spacing: 1px;
}

.header__menu-elem-a:hover {
    color: #0af71f;
}

/*header-end*/

/*nav-start*/
nav {
    max-width: 1430px;
    border: 4px solid #0af71f;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/*nav-photo-start*/
.nav__content--elem {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border: 2px solid red;
    overflow: auto;
}


.nav__content--elem-photo {
    min-width: 550px;
    height: 200px;
    border: 3px solid #0af71f;
    line-height: 200px;
}

.nav__elem--photo {
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
}

/*nav-photo-end*/

/*nav-content-text-start*/
.nav__content--elem-text {
    width: 556px;
    height: 200px;
    text-align: center;
    padding: 20px 0;
}

.nav__content--elem-product {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

/*nav-elem-btn-start*/
button {
    width: 160px;
    height: 50px;
    margin-top: 20px;
    position: relative;
    left: 55px;
    border: 0;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    background-color: #0af71f;
    letter-spacing: 1px;
}

button:hover {
    background-color: black;
    color: #fff;
    cursor: pointer;
}

/*nav-elem-btn-end*/

/*nav-content-text-end*/

/*nav-end*/

/*main-start*/
main {
    max-width: 1430px;
    margin: 20px auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main__elem--box {
    width: 300px;
    height: 160px;
    border: 4px solid #0b2e13;
}

.main__elem-news {
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
    letter-spacing: 1px;
}

.main__elem-text {
    text-align: center;
    font-size: 17px;
}

/*main-end*/

/*footer start*/
footer {
    width: 1430px;
    height: 70px;
    border: 4px solid black;
    margin: 0 auto;
}

.footer__about--dip {
    letter-spacing: 1px;
    font-size: 19px;
    text-align: center;
    padding: 20px 0;
}

/*footer end*/

@media screen and (min-width: 650px) {
    .header__menu {
        flex-direction: row;
        justify-content: space-around;
    }

    main {
        flex-direction: row;
    }
}

@media screen and (min-width: 870px) {
    nav {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .nav__content--elem {
        max-width: 600px;
    }
}


